/*
セレクタの詳細度
(a)style=""
(b)id
(c)属性 擬似クラス 一ずつカウントされていく
(d)要素 擬似要素 一ずつカウント*/

/* 0,0,0,1*/
a{color: skyblue;}
/* 0,0,1,1*/
a.link{color: pink;}
/* 0,0,1,1*/
/* a{color: orange;} */
/* 0,1,0,1*/
/*a {color: blue;}*/
