/*
z-index
-position:static以外の要素に対してのみ有効
-値が大きいほど上に来る
overflow
-visible
-hidden
-scroll
*/

body { maargin: 0;}

#box1,#box2,#box3 {
    width: 100px;
    height: 50px;
    position: absolute;
}

#box1{
    background: gray;
    top: 10px;
    left: 10px;
    z-index: 3;
    /* overflow: hidden; */
    overflow: scroll;
}

#box2{
    background: silver;
    top: 20px;
    left: 20px;
    z-index: 2;
}

#box3{
    background: orange;
    top: 30px;
    left: 30px;
    z-index: 1;
}
