
body{font-size: 16px;}
h1{font-size: 2em;} /* 32px */
h2{font-size: 150%;} /* 24px */


/* body{color: blue;}
body{color: #00f;} */

h1{ color: #FF0000;}

h2{ color: #FF00FF;}

p{color: #0000FF;} /* blue */
