/*  padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    padding:
    all
    top/bottom
    right/left
    top/right left/bottom
    top right bottom left

*/

body{ margin: 0;}

div{background-color: silver;
/* padding: 10px 50px; */
padding:10px 20px 30px 40px;}
