/*display: table*/

        .container{
            display: table;
            width: 300px;
        }
        .box{
            display: table-cell;
        }
        .row{
            display: table-row;
        }

        .gray { background: gray; }
        .silver { background: silver; }
        .orange { background: orange; }
